# build artifacts (from the F4HWN base)
*.d
*.o
firmware
/firmware.packed.bin
/firmware.bin
/compiled-firmware
.cache
compile_commands.json
.vscode
k5_eeprom.raw
f4hwn
f4hwn.*

# Scan 01 build artifacts
scan01
scan01.*
screenshots/
